VITE_SUPABASE_URL=https://ljjsznitztdhnmwlbytq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqanN6bml0enRkaG5td2xieXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY5NTYxNTksImV4cCI6MjA2MjUzMjE1OX0.R-eAwmYfgBLaoXnw_oV9lhtU26YZBAQzbMMwTSmGNr0
